button {
    margin: 1vw;
    color: #ccb58b;
    padding: 1% 3%;
    border: 1px solid rgba(184, 163, 125, 0.651);
    box-shadow: 0 4px 8px 0 rgba(190, 167, 103, 0.733);
  }
  
  button:hover {
    background-color: rgba(14, 13, 13, 0.62); }